* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 1600px;
}

#wrap {
    min-height: 100%;
    position: relative;
}

main {
    margin-top: 127px;
    padding-bottom: 160px;
}

header {
    padding-left: 200px;
    display: block;
    width: 1400px;
    height: 127px;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 5px solid #fb9c06;
}

.logo {
    display: inline-block;
    background: url("../images/logo.png");
    width: 100px;
    height: 110px;
    margin: 0 10px 20px 10px;
}

ul {
    list-style-type: none;
}

.logo li:nth-child(1) {
    color: #fb9c06;
}

.logo li:nth-child(2) {
    color: #6e6d6b;
    font: bold 50px "BebasNeueRegular";
}

h1 {
    display: inline-block;
    margin-left: 155px;
    margin-top: 10px;
    text-align: center;
    font: bold 37px "Calibri";
}

nav {
    float: right;
    padding-right: 280px;
}

figure {
    display: block;
    float: right;
    padding: 20px 40px 30px 40px;
    text-align: center;
}

a span {
    display: inline-block;
    color: #9e9b9b;
    margin-top: 60px;
    font: 600 1rem Calibri;
    cursor: default;
}

.work-icon, .contact-icon, .blog-icon, .home-icon, .about-icon {
    background: url("../images/sprites.png") no-repeat;
    float: right;
}

nav figure:hover {
    background-color: #f8f7f6;
}

.work-icon{
    background-position: -119px -3px ;
    width: 50px;
    height: 50px;
}

.contact-icon{
    background-position: -247px -2px;
    width: 52px;
    height: 50px;
}

.blog-icon{
    background-position: -182px -2px ;
    width: 42px;
    height: 50px;
}

.home-icon{
    background-position: 0 0;
    width: 55px;
    height: 50px;
}

.about-icon{
    background-position: -66px -1px ;
    width: 40px;
    height: 50px;
}

.heading {
    background: url("../images/orange.jpg") no-repeat;
    background-size: 1600px 400px;
    height: 400px;
    border-top: 5px solid #fb9c06;
    border-bottom: 5px solid #fb9c06;
}

.heading ul {
    margin-top: 130px;
}

.heading li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font: bold 50px "BebasNeueRegular";
}

.heading li:first-child {
    margin-left: 220px;
    background-color: #4e4f4f;
    line-height: 65px;
    color: #fb9c06;
}

.heading li:last-child {
    margin-left: 212px;
    background-color: #ffc759;
    line-height: 75px;
    color: #6e6d6b;
}

.articles {
    display: inline-block;
    width: 1200px;
    margin-left: 200px;
    float: left;
}

.articles li {
    width: 250px;
    height: 100%;
    margin: 30px 19px;
    float: left;
    font: bold 15px "Calibri"
}

.articles .link {
    display: inline-block;
    text-align: right;
    color: #fb9c06;
    float: right;
    margin-right: 10px;
    font: 17px "Calibri Light";
}

.articles .link:hover {
    cursor: default;
    text-decoration: underline;
}

section {
    display: inline-block;
    width: 1200px;
    height: 100%;
    margin-left: 200px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    color: #fb9c06;
    font: 40px Martel Sans;
}

section figure {
    width: 300px;
    height: 100%;
    float: left; 
    padding: 20px 0 30px ;
}

h3 {
    font: 22px "Calibri Light"
}

section figure a {
    color: #fb9c06;
}

section figure a:hover {
    text-decoration: underline;
    cursor: default;
}

section li:nth-child(1) img  {
    background: url("../images/horse.jpg") no-repeat;
}

section li:nth-child(1) figure {
    padding-left: 0;
    padding-right: 80px;		
}

section li:nth-child(2) img  {
    background: url("../images/rabbit.jpg") no-repeat;	
}

section li:nth-child(2) figure {
    padding-left: 70px;
    padding-right: 70px;		
}

section li:nth-child(3) img  {
    background: url("../images/ostrich.jpg") no-repeat;	
}

section li:nth-child(3) figure {
    padding-left: 80px;
    padding-right: 0;	
}

section figure img {
    background-size: 300px 300px;
    border: 8px solid #fb9c06;
    border-radius: 150px;
    margin-bottom: 20px;
    margin-top: 30px; 
}

section figure p {
    text-align: left;
    padding: 0 20px 0 30px; 
    font: 15px "Calibri Light";
}

form ul {
    margin-top: 20px;
}

form li {
    display: inline-block;
    margin: 20px 0 20px 200px;
    color: #fb9c06;
    font: 1.5rem "Martel Sans";
}

form li:nth-child(3) label {
   vertical-align: top;
}

form textarea,
form input {
    width: 1070px;
    height: 34px;
    margin-left: 20px;
    float: right;
    border: 0;
    border-left: 5px solid #d2d0cf;
    border-top: 2px solid #d2d0cf;
    background-color: #f8f7f6;
    outline:none;
    font: bold 1.2rem "Martel Sans";
}

form textarea:focus,
form input:focus {
    background-color: #fff4ce;
}

form label {
    display: inline-block;
    width: 100px;
    height: 30px;
}

form textarea {
    height: 100px;
    outline: none;
    resize: none;
    overflow: hidden;
}

form li:nth-child(4) {
    margin-left: 200px;
    margin-top: 0;
    float: right;
}

form #bottom {
    height: 45px;
    width: 175px;
    margin-right: 230px;
    border: 0;
    border-bottom: 3px solid #cc830f;
    background-color: #fb9c06;
    font: 25px Martel Sans;
    color: #fff;
}

form #bottom:active {
    border: none;
    margin-top: 2px;
}

footer {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1600px;
    height: 70px;
    background: #fb9c06;
    text-align: center;
}

footer span {
    display: inline-block;
    width: 100%;
    color: #fff;
    margin-top: 7px;
    font: 33px Martel Sans;
    border-bottom: 3px solid #cc830f;
}

@font-face {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/martel-sans-v4-latin-200.woff') format('woff');
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}